<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @session.start_time %>
</p>

<p>
  <b>Location:</b>
  <%= @session.location %>
</p>

<p>
  <b>Event:</b>
  <%= @session.event_id %>
</p>

<div id="edit_button">Edit</div>

<div id="firepad"></div>

<div id="readOnlyFirepad"></div>