<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li><a href="#">Events</a> <span class="divider">/</span></li>
  <li><a href="#">Sessions</a> <span class="divider">/</span></li>
  <li class="active"><%= @session.name %></li>
</ul>

<div class="content-area">

  <div class="hero-unit">
    <p>
      <h2><%= @session.name %></h2>
    </p>

    <p>
      <h3><%= @session.start_time %></h3>
    </p>

    <p>
      <h3><%= @session.location %></h3>
    </p>

  </div>
  <div id="firepad-container">
    <button id="edit_button" class="btn btn-large btn-primary" type="button">Edit</button>
    <div id="firepad">
    </div>

    <div id="readOnlyFirepad">
    </div>
  </div>


</div>