<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @session.start_time %>
</p>

<p>
  <b>Location:</b>
  <%= @session.location %>
</p>

<p>
  <b>Event:</b>
  <%= @session.event_id %>
</p>

<div id="firepad"></div>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
