<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li><a href="#">Events</a> <span class="divider">/</span></li>
  <li><a href="#">Sessions</a> <span class="divider">/</span></li>
  <li class="active"><%= @session.name %></li>
</ul>

<div class="content-area">

  <button id="edit_button" class="btn btn-large btn-primary" type="button">Edit</button>


<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @session.start_time %>
</p>

<p>
  <b>Location:</b>
  <%= @session.location %>
</p>

<p>
  <b>Event:</b>
  <%= @session.event_id %>
</p>

<div id="firepad"></div>

<div id="readOnlyFirepad"></div>

</div>