<ul class="breadcrumb">
  <li><a href="#">Events</a> <span class="divider">/</span></li>
</ul>

<div class="content-area">

  <h1 text-align="center">CubNotes</h1>

  <table id="events-list" class="table table-bordered">
    <thead>
    <tr>
      <th>
        Event
      </th>
      <th>
        Location
      </th>
      <th>
        Dates
      </th>
    </tr>
    </thead>

    <% @events.each do |event| %>
      <tbody>
      <tr>
        <td>
          <%= link_to event.name, event_path(event) %>
        </td>
        <td>
          <%= event.location %>
        </td>
        <td>
          <%= event.start_date %> - <%= event.start_date %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>

  <br/>
  <a href="#newEvent" role="button" class="btn" data-toggle="modal">New Event</a>
</div>

<div id="newEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newEventLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newEventLabel">New Event</h3>
  </div>
  <%= render 'form' %>
</div>
