<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Url:</b>
  <%= @event.url %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<table id="event_sessions">
  <thead>
  <th>Name</th>
  <th>Time</th>
  <th>Location</th>
  </thead>
  <tbody>
<% @sessions.each do |session| %>
  <tr>
    <td><%= session.name %></td>
    <td><%= session.start_time %></td>
    <td><%= session.location %></td>
  </tr>
<% end %>
  </tbody>
</table>
