<ul class="breadcrumb">
  <li><%= link_to 'Events', root_path %><span class="divider">/</span></li>
  <li class="active"><%= @event.name%></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Url:</b>
  <%= @event.url %>
</p>


<a href="#editEvent" role="button" class="btn" data-toggle="modal">Edit</a>

<div id="editEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editEventLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editEventLabel">Edit Event</h3>
  </div>
  <%= render 'form' %>
</div>


<div ng-app="cub">
  <div ng-controller="SessionsController">

    <form ng-submit="addSession()">
      <label for="new_session_name">Create New Session:</label>
      <input id="new_session_name" type="text" ng-model="newSessionName" placeholder="Session Name">
      <input class="btn-primary" type="submit" value="add">
    </form>

    <div class="gridStyle" ng-grid="gridOptions"></div>

  </div>
</div>
